port ${INTERNAL_PORT}
protected-mode yes
requirepass ${REDIS_PASSWORD}
masterauth ${REDIS_PASSWORD}
cluster-enabled yes
cluster-config-file nodes.conf
cluster-node-timeout 5000
cluster-announce-ip ${NODE_IP}
cluster-announce-port ${EXTERNAL_PORT}
cluster-announce-bus-port ${EXTERNAL_BUS_PORT}
appendonly yes
bind 0.0.0.0
tcp-keepalive 300
timeout 0
